@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

:root {
  font-family: "Special", Courier, monospace;
  line-height: 1.5;
  font-weight: 100;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white-text-color: #fafafa;
  --dark-grey-color: #373534;
  --dark-red-color: #c2000c;
  --hover-red-color: #f53636;
}
