.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.containerHomePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 550px;
  text-align: center;
}

.mainTitle {
  color: var(--dark-red-color);
  font-size: 48px;
  animation: creepySlide 12s ease-in-out infinite;
}

@keyframes creepySlide {
  0% {
    transform: translateY(-10%);
    filter: blur(0);
  }
  50% {
    transform: translateY(10%);
    filter: blur(6px);
  }
  100% {
    transform: translateY(-10%);
    filter: blur(0);
  }
}

.text {
  color: var(--dark-grey-color);
  font-size: 20px;
  text-align: center;
  padding: 20px;
  animation: creepySlide 12s ease-in-out infinite;
}

.link {
  color: var(--dark-red-color);
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  background-color: var(--dark-grey-color);
  color: var(--white-text-color);
  text-decoration: underline;
  text-decoration: none;
}

.textCreate {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 10px 0;
  color: var(--dark-grey-color);
}
