.userMenu {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: auto;
  padding: 10px;
  color: var(--white-text-color);
  background: var(--dark-grey-color);
  border-radius: 8px;
}

.userName {
  margin-right: 20px;
  font-weight: bold;
  color: var(--white-text-color);
}

.logoutButton {
  font-family: "Courier New", Courier, monospace;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 700;
  color: var(--white-text-color);
  background: var(--dark-grey-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.logoutButton:hover {
  background: var(--dark-red-color);
  transform: translateY(-2px);
}
